body{
    background: rgba(146, 190, 255, 0.925);
    font: normal 15pt Arial;
}

header{
    color:antiquewhite;
    text-align: center;
    
    
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    color:rgb(119, 119, 119);
    box-shadow: 2.5px 2.5px 10px rgb(119, 119, 119);
}

footer{
    color: rgb(119, 119, 119);
    font: normal 10pt Arial;
    text-align: center;
}